
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>jqGrid-Demo</title>
    <link href="@Url.Content("~/Content/jqGrid/css/ui.jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Script/jquery-1.7.2.min.js")"></script>
    <script src="@Url.Content("~/Script/jqGrid/i18n/grid.locale-cn.js")"></script>
    <script src="@Url.Content("~/Script/jqGrid/jqGrid.extend.js")"></script>
    <script src="@Url.Content("~/Script/jqGrid/jquery.jqGrid.min.js")"></script>
</head>
<body>
    <div>
    </div>
</body>
</html>
