@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>jqGrid-subgrid</title>
    <link href="@Url.Content("~/Content/jqGrid/css/ui.jqgrid.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery.ui-1.8.16/jquery-ui.custom.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Script/jquery-1.7.2.min.js")"></script>
    <script src="@Url.Content("~/Script/jqGrid/i18n/grid.locale-cn.js")"></script>
    <script src="@Url.Content("~/Script/jqGrid/jqGrid.extend.js")"></script>
    <script src="@Url.Content("~/Script/jqGrid/jquery.jqGrid.min.js")"></script>
    <style type="text/css">
        @@CHARSET "UTF-8";

        body {
        }

        .codestr {
            font-size: 12px;
            font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
        }

        .codetitle {
            font-weight: bold;
            font-size: 14px;
            margin-top: 36px;
        }

        .notes {
            font-size: 12px;
        }
    </style>
</head>
<body>
    <form id="formData">
        <label>选择级别</label>
        <select name="ParentId" attribute-search="true">
            <option value="-1">顶级</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
        </select>
        <input type="button" onclick="Search()" value="搜索" />
        <div id="list">
            <table id="grid"></table>
            <div id="pager"></div>
        </div>
    </form>
    <script>
        function Init() {
            var url = '@Url.Action("List")';
            var colNames = ['Id', '名称', '父级'];
            var colModel = [
                { name: 'Id', index: 'Id', width: '200px', align: "center" },
                { name: 'Name', index: 'Name', width: '200px', align: "center" },
                { name: 'ParentId', index: 'ParentId', width: '200px', align: "center" }
            ];
            $("#list #grid").jqGrid(
            {
                url: url,
                mtype: 'POST',
                ajaxGridOptions: { contentType: 'application/json; charset=utf-8' },
                serializeGridData: function (postData) {
                    if (postData.searchField === undefined) postData.searchField = null;
                    if (postData.searchString === undefined) postData.searchString = null;
                    if (postData.searchOper === undefined) postData.searchOper = null;
                    return JSON.stringify(postData);
                },
                jsonReader: jqGridDefaultConfig.jsonReader,
                prmNames: jqGridDefaultConfig.prmNames,
                datatype: "json",
                colNames: colNames,
                colModel: colModel,
                postData: FormToJson("formData"),
                rowNum: 10,
                rowList: [10, 15, 20, 25, 40],
                pager: '#pager',
                viewrecords: true,
                sortorder: "desc",
                height: 300,
                subGrid: true,//开启子级
                subGridRowExpanded: function (subgrid_id, row_id) {
                    var subgrid_table_id, pager_id;
                    subgrid_table_id = subgrid_id + "_t";
                    pager_id = "p_" + subgrid_table_id;
                    $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table><div id='" + pager_id + "' class='scroll'></div>");
                    $("#" + subgrid_table_id).jqGrid({
                        url: url,
                        mtype: 'POST',
                        datatype: "json",
                        jsonReader: jqGridDefaultConfig.jsonReader,
                        prmNames: jqGridDefaultConfig.prmNames,
                        colNames: colNames,
                        colModel: colModel,
                        rowNum: 2,
                        rowList: [2, 4, 6, 8, 10],
                        pager: pager_id,
                        sortname: 'num',
                        sortorder: "asc",
                        height: '100%',
                        width: '100%',
                        postData: {
                            ParentId: row_id
                        }
                    });
                    $("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, { edit: false, add: false, del: false })
                }
            });
            $("#list #grid").jqGrid('navGrid', '#pager', { edit: false, add: false, del: false });
        }
        function Search() {
            //Init();
            $("#list #grid")
                .jqGrid("setGridParam", {
                    //search: true,
                    page: 1,
                    postData: FormToJson("formData")
                })
                .trigger("reloadGrid");
        }

        $(function () {
            Init();
        });
    </script>
</body>
</html>
